.dashboard {
  background-color: #393e46;
  width: 100%;
  padding: 20px 60px;
  min-height: 100vh;
}
.dashboard-header {
  display: flex;
  gap: 20px;
  margin-top: 10px;
}
.dashboard-main {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 20px;
  margin: 10px 0;
}

.item1 {
  grid-column: 1 / 3;
}

.item-3,
.item-4 {
  height: 420px;
}

@media screen and (max-width: 800px) {
  .dashboard-main {
    display: flex;
    flex-direction: column;
    gap: 20px;
    
   
  }
  .dashboard-header{
    flex-direction: column;
    
  }
  .dashboard{
    padding: 20px 10px;
  }
  .overview-card{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
 
}
